<h2>Update Discount ID# <%= @discount.id %></h2>
<br>

<div style="background:rgba(250,250,250, 0.3); padding:40px; border:1px solid white; width:60%; align-text:centered; margin: 0 auto;">
  <p class="alert alert-secondary"> Note: 0.05 = 5%; 0.1 = 10% etc. </p>
  <br>

  <%= form_with model: [ :merchant, @discount ], local: true do |f| %>

    <%= f.label :percentage, 'Percentage discount: ' %>
    <%= f.number_field :percentage, step: 0.05, min: 0, max: 0.99 %><br>
    <br>
    <%= f.label :threshold, 'Quantity threshold: ' %>
    <%= f.number_field :threshold, step: 1, min: 1 %><br>
    <br>
    <%= f.submit 'Update' %>
  <% end %>

</div>
