<h1>Welcome <%= @merchant.name %>!</h1>
<div text-align="center" align="center">
<td><%= link_to 'Create a new bulk discount', new_merchant_bulk_discount_path(@merchant.id), class:"btn btn-outline-dark navbar-custom" %></td>
<div>
<br><br>

  <table class="table table-striped navbar-custom">
    <thead class="custom" text-align="center" align="center">
      <tr>
        <th colspan="4" style="font-family: Quicksand;"><h4>Bulk Discounts</h4></th>
      </tr>
    </thead >
    <tbody id="all-discounts">
      <tr id="discount-table-headers">
        <th>Delete Discount</th>
        <th>Discount ID</th>
        <th>Percentage Discount</th>
        <th>Quantity Threshold</th>
      </tr>
      <% @discounts.each do |discount| %>
        <tr id="discount-<%= discount.id %>">
          <td><%= link_to 'Delete', merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete, class: "btn btn-secondary btn-sm" %></td>
          <td><%= link_to discount.id, merchant_bulk_discount_path(@merchant.id, discount.id), class: "btn btn-secondary btn-sm" %></td>
          <td><%= number_to_percentage((discount.percentage * 100), precision: 0) %></td>
          <td><%= discount.threshold %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
